@page
@functions
{
    public string? DayName { get; set; }
    public void OnGet()
    {
        Model.DayName = DateTime.Now.ToString("dddd");
    }
}
<div class="jumbotron">
    <h1 class="display-3">Welcome to this shit</h1>
    <hr>
    <p class="lead">Raspados MiAlegria, de muchos sabores y ricos colores</p>
    </hr>
    <h2>This is a Static Page ... Simple AF</h2>
    <p>Hoy @Model.DayName! es un buen dia para un raspado</p>
    <a class="btn btn-primary" href="https:www.youtube.com">Checa ese video ...</a>
</div>